{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
      <title>BiG® plant science</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'vault:home' %}"><img src="{% static 'vault/big_logo.png' %}"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <li>
                <a class="nav-item nav-link" href="{% url 'vault:product' %}"><b>produkter</b></a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'vault:contact' %}"><b>kontakt BiG<sup>®</sup></b></a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'vault:water_quality' %}"><b>check min vandkvalitet!</b></a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'vault:get_name' %}"><b>fix mit skema!</b></a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'vault:downloads' %}"><b>diverse</b></a>
              </li>
              <!-- <div class="dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><b>sheets</b></a>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" href="#"><b>sundhedsværkstedet</b></a>
                  <a class="dropdown-item" href="#"><b>python #0</b></a>
                </ul>
              </div> -->
            </div>
            <!-- Navbar Right Side -->
            <!-- <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="#"><b>create</b></a>
                <a class="nav-item nav-link" href="#"><b>edit</b></a>
                <a class="nav-item nav-link" href="#"><b>logout</b></a>
              {% else %}
                <a class="nav-item nav-link" href="#"><b>login</b></a>
                <a class="nav-item nav-link" href="#"><b>register</b></a>
              {% endif %}
            </div> -->
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div style="max-width: 100%; background-color:#ffffff; border-radius:6px; margin:80px 10px 20px; padding:0px 20px 20px;">
        <img src="{% static 'vault/banner.jpg' %}"/>
        {% block content %}
        {% endblock %}
      </div>

      <div align="center" style="background-color:#ffffff; max-width:100%; min-height:60px; margin:0px 10px 50px; padding:20px 20px 20px; border-radius:5px;">
        <div style="color:565656; border:2px dotted #565656; border-radius: 5px; width:500px; max-width:100%; padding:5px;">
          <h4>
            <a href="tel:+4550503223">hello-hello, dingeling!</a><br/>
          CVR-VAT: DK34807574<br/>
          adr.: Frederikssundsvej 121 F, 2700 Brønshøj<br/>
          </h4>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
