{% extends 'vault/base.html' %}
{% block content %}
  <h2 style="margin-top:20px;">Velkommen til BiG Plant Science serien</h2>
BiG Plant Science-serien er baseret på videnskabelige principper, og er produceret i Danmark.

BiG serien tager højde for de danske vandforhold, og leverer med sine tre grundprodukter Part A, Part B og Part C alle de nødvendige næringsstoffer, en plante behøver for at producere tunge, flotte blomstertoppe - der er fokus på at øge afkastet.

BiG introducerer en rådgivning, der er forskellig fra andre producenters bl.a. idet vi giver et indblik i vores viden og erfaring indenfor feltet, og selvfølgelig igennem vores produktserie BiG, der er skræddersyet til den afkastorienterede dyrker.

<h2 style="margin-top:20px;">Udviklet til danske vandforhold</h2>
Al professionel rådgivning om gødning tager udgangspunkt i vandkvalitet - dette princip afviger BiG ikke fra. Det er derfor vigtigt, at man undersøger om vandkvaliteten er hård, middelhård eller blød.

Du kan undersøge hvordan vandkvaliteten er i dit nærområde under fanen 'check min vandkvalitet'.

Er der noget som du er i tvivl om, eller noget, du ønsker rådgivning til, så tøv endelig ikke med at skrive til info@bigplantscience.com

BIG Plantscience Tlf: <a href="tel:+4550503223">+4550503223</a>
{% endblock %}
