{% extends 'vault/base.html' %}
{% block content %}
<h2 style="margin-top:20px;">Part A Power House</h2>
<p>
  En professionel gødningsformular, der leverer alle de makro-næringsstoffer, planter bruger igennem vækst- og blomsterfasen. Der er tilsat 2%-aminosyre, der forøger celledannelsen, og optimerer plantens evne til at optage gødning.
</p>

<p>
Hvorfor er 100% nitratbaseret gødning vigtig for mig?
Kvælstof (N) er det vigtigste grundstof for planten og væksten, såfremt man er afkastorienteret, det ved enhver landmand og erhvervsgartner. Får planten ikke en passende mængde kvælstof, afspejles det tydeligt i afkastet.
</p>

<p>
  Kvælstoffet, der findes i Part A, Power House er 100% nitratbaseret, og indeholder ikke ammonium. Nitrat er modsat ammonium ikke giftig for planten, end ikke i store koncentrationer.
</p>

<p>
  100% nitratbaseret gødning gør det muligt at presse planten til at yde sit yderste uden at der opstår komplikationer såsom forsuring af medium og afbrændte bladspidser som følge af ammoniakforgiftning.
</p>

<p>
Kvælstof er som sagt det vigtigste grundstof set ud fra et afkastorienteret perspektiv, og går man efter et BiG-afkast, er det vigtigt, at man presser planten maksimalt.
Dette kan man afstedkomme ved hjælp af Part A, Power House, der indeholder store mængder fosfor og kalium (P-K), hvilket sikrer tunge blomstertoppe. Part A, Power House indeholder også magnesium og svovl (Mg-S), der sikrer mange krystaller samt en æterisk olieproduktion i den høje ende.
</p>


<h2 style="margin-top:20px;">Part B Calcium Plus</h2>
<p>
  En professionel calcium-nitrat-aminosyre-formular, der sørger for, at planten ikke bringes i calciumunderskud.
</p>

<p>
  Der er tilsat yderligere 2%-aminosyre, hvilket forøger calciumoptagelsen og celledannelsen. Fordelen ved en calcium-nitrat-aminosyre-formular er, at planten tvinges til at optage calcium, og derved sikrer man sunde, stærke stængler samt optimal calciumoptagelse.
</p>

<p>
Hvorfor har BiG valgt den traditionelle calcium-nitrat-blanding?
Det er den optimale måde at forøge calciumoptagelsen via rodnettet på. Planten optager ca. 1,5 gange så meget calcium som kvælstof, og ca. tre gange så meget calcium som fosfor. Derfor er det vigtigt, at bestemme hvilken vandtype (hårdt, middelhårdt eller blødt) der er til rådighed, samt at anvende det gødningsskema, der passer til.
</p>

<p>
</p>
Ved at gøre planten denne tjeneste, sikrer man sig, at planten får den korrekte mængde calcium. Resultatet er stærkere stængler, der kan understøtte de store blomstertoppe.

<h2 style="margin-top:20px;">Part C Micro Power</h2>
<p>
  Er en overcheleret micronæringsformular, der sikrer at planten får de nødvendige sporgrundstoffer i de korrekte mængder og forhold.
</p>

<p>
  Part C, Micro Power er en professionel micronæring, der sikrer at planten har adgang til 100% biologisk letoptagelige sporgrundstoffer. Micronæring er meget vigtig, og giver sunde planter, der kan yde sit yderste og give store afkast hver gang.
</p>

<p>
Hvorfor har BiG valgt at holde micronæringen separat i Part C og Micro Power?
Cheleringsmidllet HEDTA danner et nanocover omkring micronæringen, og beskytter den mod at reagere med calcium og fosfat.
Når micro-næringen er fuldstændigt cheleret, sikrer man, at planten kan optage micronæringen problemfrit. Forstyrres cheleringen, danner micronæringen tungtopløselige forbindelser med calcium og fosfat, hvilke planten ikke kan optage.
</p>

<p>
HEDTA er kun stabilt ved en neutral pH-værdi, og nedbrydes når man enten tilsætter den part A eller B. Det er derfor, BiG har valgt den professionelle løsning til dig, der tager micronæring seriøst!
</p>


<h2 style="margin-top:20px;">Bud Explosion</h2>
<h5>- aminosyrer der giver flotte blomster!</h5>
<p>
Når planten ophører med sit stræk opad, og begynder at brede sig udad og blomstre, har den brug for ekstra fosfor (P) og kalium (K), for at kunne producere tunge, massive blomstertoppe.
</p>

<p>
  Bud Explosion leverer den nødvendige fosfor og kalium, der behøves for at optimere blomstringen.
</p>

<p>
Bud Explosion er tilsat en kompleks blanding af 20 forskellige aminosyrer i en 5%-koncentration.
Det høje indhold af aminosyrer giver planten let adgang til de molekylære byggesten, den skal bruge for at danne gode topskud.
</p>

<p>
  Bud Explosion er en vaskeægte vinderformular, der sikrer store, tunge blomstertoppe med mange krystaller. Hvis dit dyrkningsprojekt ikke giver massive og tunge blomster, så prøv Bud Explosion.
</p>

<p>
  Vigtig Note: Brug ikke Bud Explosion og Stimulus sammen, da for megen P-K gør mere skade end gavn, og forstyrrer optagelsen af calcium, svovl og andre vigtige grundstoffer.
</p>

<h2 style="margin-top:20px;">Stimulus</h2>
<h5>New Generation Booster</h5>
<p>
  Stimulus er en new-generation-booster, der aktiverer plantens immunforsvar, og giver en forøget S.A.R-respons (Systemic Acquired Resistance).
</p>

<p>
  Stimulus får planten til at frigøre stressmetabolitter kaldet phytoalexiner, der stimulerer plantens immunforsvar, hvilket resulterer i et forøget respons - Ved at stimulere immunforsvaret øges produktionen af krystaller.
</p>

<p>
En del af biostimulanterne (auxin) i Stimulus er tilsat for at forøge rodproduktionen samt at forstærke rødderne, der varetager leveringen af næringsstoffer til planten.
Kombinationen af et forstærket immunforsvar og en kraftigere rodproduktion resulterer i en større produktion af krystaller og blomstertoppe.
</p>

<p>
  Fosforen, der findes i Stimulus, er i lipid form, hvilket sikrer fuldstændig optagelse samt minimal udfældning og udvaskning af fosfor i det medium, der anvendes.
</p>

<p>
  Vigtig Note: Brug ikke Stimulus og Bud Explosion sammen, da for meget P-K gør mere skade end gavn, og forstyrrer optagelsen af calcium, svovl og andre vigtige grundstoffer.
</p>

<h2 style="margin-top:20px;">Aroma Boost</h2>
<h5>- giver smagen et løft.</h5>
<p>
  Terpentenerne, der findes i plantens krystaller - trichomer - består af forskellige aromatiske molekyler.
</p>

<p>
  Det er sammensætningen og koncentrationen af de forskellige aromatiske molekyler, der giver planten sin karakteristiske duft og smag.
</p>

<p>
BiG har derfor udviklet en professionel aromaforstærker, der indeholder alle de byggesten, der findes i aromatiske molekyler;
bioaktivt svovl, magnesium-komplekser og desuden et specielt aminogram, der er rigt på L-gluataminsyre.
</p>

<p>
  Herudover er Aroma Boost tilsat pro-humiske og fluviske syre, der øger optagelsen af gødning.
</p>

<p>
  Aroma Boost giver planten mulighed for at udtrykker dens fulde aromaprofil.
</p>

<p>
  Sidst, men ikke mindst, tilføjer det slutproduktet en rigere smagsoplevelse.
</p>

<p>
  Giv duften og smagen et løft med Aroma Boost.
</p>

{% endblock %}
